name: Trivy Security Scan

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  trivy-scan:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run Trivy FS scan and generate HTML report
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: fs
          scan-ref: .
          format: template
          template: "@/contrib/html.tpl"
          output: trivy-report.html
          severity: HIGH,CRITICAL
          ignore-unfixed: true

      - name: Upload HTML report artifact
        uses: actions/upload-artifact@v4
        with:
          name: trivy-html-report
          path: trivy-report.html
